%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed

=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path

%table
  %thead
    %tr
      %th Event
      %th Changed By
      %th Created at

  %tbody#tasks-table
    - @task.versions.each do |version|
      %tr
        %td= version.event
        %td= user_email(version.whodunnit)
        %td= version.created_at.strftime("%m/%d/%Y, %l:%M %p")

